@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
  src: url('/fonts/NanumSquareNeo-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
  src: url('/fonts/NanumSquareNeo-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
  src: url('/fonts/NanumSquareNeo-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 800; /* ExtraBold */
  font-style: normal;
  font-display: swap;
  src: url('/fonts/NanumSquareNeo-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 900; /* Black */
  font-style: normal;
  font-display: swap;
  src: url('/fonts/NanumSquareNeo-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'NexonLv1Gothic';
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
  src: url('/fonts/NexonLv1Gothic-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'NexonLv1Gothic';
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
  src: url('/fonts/NexonLv1Gothic-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'NexonLv1Gothic';
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
  src: url('/fonts/NexonLv1Gothic-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
  src: url('/fonts/GmarketSans-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
  src: url('/fonts/GmarketSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
  src: url('/fonts/GmarketSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'NanumHuman';
  font-weight: 200; /* ExtraLight */
  font-style: normal;
  font-display: swap;
  src: url('/fonts/NanumHuman-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'NanumHuman';
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
  src: url('/fonts/NanumHuman-Light.woff') format('woff');
}

@font-face {
  font-family: 'NanumHuman';
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
  src: url('/fonts/NanumHuman-Regular.woff') format('woff');
}

@font-face {
  font-family: 'NanumHuman';
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
  src: url('/fonts/NanumHuman-Bold.woff') format('woff');
}

@font-face {
  font-family: 'NanumHuman';
  font-weight: 800; /* ExtraBold */
  font-style: normal;
  font-display: swap;
  src: url('/fonts/NanumHuman-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'NanumHuman';
  font-weight: 900; /* Black */
  font-style: normal;
  font-display: swap;
  src: url('/fonts/NanumHuman-Heavy.woff') format('woff');
}

@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --fontN: 'NanumSquareNeo', sans-serif;
  --fontX: 'NexonLv1Gothic', sans-serif;
  --fontG: 'GmarketSans', sans-serif;
  --fontH: 'NanumHuman', sans-serif;
}

pre,
code {
  font-family: var(--fontN) !important;
  line-height: 1.6 !important;
  font-size: 14px !important;
}
code .linenumber {
  font-style: normal !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-nanum: var(--fontN);
  --font-nexon: var(--fontX);
  --font-gmarket: var(--fontG);
  --font-human: var(--fontH);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    font-family: var(--fontN) var(--font-poppins);
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  /* container */
  .header__container {
    @apply border-b-2 border-black dark:border-white;
  }

  .main__container {
    @apply max-w-7xl mx-auto mt-4 sm:mt-10 py-4 px-4;
  }

  .refer__container {
    @apply mx-auto w-full max-w-[1400px] border-x border-dashed;
  }

  .notice__container {
    @apply max-w-3xl mx-auto mt-4 sm:mt-10 py-4 px-4;
  }

  .auth__container {
    @apply max-w-[500px] mx-auto flex items-center justify-center h-screen;
  }

  .footer__container {
    @apply max-w-7xl mx-auto py-4 mt-20 px-4 pb-20;
  }

  .footer2__container {
    @apply mx-auto w-full max-w-[1400px];
  }

  /* nav */
  .nav {
    @apply absolute z-10 left-1/2 bg-background sm:top-[97px] top-[68px] px-3 translate-x-[-50%] font-poppins hidden md:block;
  }
  .admin__nav {
    @apply max-w-6xl mx-auto mt-14 border-t border-b border-dashed flex items-center justify-between py-4;
  }

  /* page */
  .page__title {
    @apply font-nanum;

    > h1 {
      @apply text-center font-black text-3xl leading-10 md:text-5xl md:leading-16 font-poppins uppercase mb-1;
    }
    > h2 {
      @apply text-center text-xl md:text-2xl font-human mb-2;
    }
    > h3 {
      @apply text-base md:text-lg font-human mt-6 mb-1 text-zinc-800 dark:text-zinc-50;
    }
    > p {
      @apply text-zinc-500 dark:text-zinc-400 leading-6 text-sm break-keep text-center mb-10;
    }
  }

  /* page */
  .intro__title {
    @apply font-nanum;

    > h2 {
      @apply text-xl md:text-2xl font-human mb-2;
    }
    > h3 {
      @apply text-base md:text-lg font-human mt-6 mb-1 text-zinc-800 dark:text-zinc-50;
    }
    > p {
      @apply text-zinc-500 dark:text-zinc-400 leading-6 text-sm break-keep mb-10;
    }
    li {
      @apply text-zinc-500 dark:text-zinc-400 text-sm leading-6 list-disc list-inside ml-2;
    }
    em {
      @apply not-italic underline underline-offset-4;
    }
  }

  /* page */
  .user__title {
    @apply font-nanum;

    > h2 {
      @apply text-center text-xl md:text-2xl font-human mb-2;
    }
    > h3 {
      @apply text-base md:text-lg font-human mt-6 mb-1 text-zinc-800 dark:text-zinc-50;
    }
    > p {
      @apply text-zinc-500 dark:text-zinc-400 leading-6 text-sm break-keep;
    }
    li {
      @apply text-zinc-500 dark:text-zinc-400 text-sm leading-6 list-disc list-inside ml-2;
    }
  }

  /* main */
  .main__title {
    @apply font-nanum;

    h1 {
      @apply text-center font-black text-3xl leading-10 md:text-5xl md:leading-16 font-human mt-12;
    }
    p {
      @apply text-center mt-4 text-zinc-600 mb-10;
    }
  }

  /* post */
  .post__title {
    @apply font-nanum;

    > h2 {
      @apply text-center text-xl md:text-2xl font-human mb-2;
    }
    .info {
      @apply text-xs text-center text-zinc-500 mb-4;
    }
    .view {
      @apply flex gap-1 items-center bg-gray-200 px-4 py-1 rounded-2xl text-sm text-gray-500 font-poppins;
    }
    .tag {
      @apply sm:block hidden;

      a {
        @apply inline-block bg-gray-200 px-5 py-1 mx-1 rounded-full font-poppins text-sm text-gray-700 hover:bg-gray-300 transition;
      }
    }
    .like {
      @apply ml-1;
    }
  }

  /* post__layout */
  .post__layout {
    @apply flex flex-col md:flex-row gap-6 mt-10 relative min-h-screen;

    .post__contents {
      @apply flex-1 min-w-0 min-h-[500px] lg:border-r lg:pr-6;

      > h3 {
        @apply text-xl sm:text-2xl mb-4;
      }
      p {
        @apply text-zinc-500 dark:text-zinc-100 text-[15px] leading-6 mb-4 break-words;
      }
      > h4 {
        @apply mb-2 mt-8;
      }
      > h5 {
        @apply text-zinc-500 dark:text-zinc-100 text-[15px] mb-1;
      }
      ul {
        @apply mb-4 list-disc pl-4;
      }
      li {
        @apply text-zinc-500 dark:text-zinc-100 text-[15px] leading-6.5;
      }
      em {
        @apply not-italic;
      }
    }
    .post__sidebar {
      @apply md:w-[300px] md:h-[100vh] w-full h-auto shrink-0 sticky top-6;
    }
  }

  /* refer__layout */
  .refer__layout {
    @apply grid grid-cols-[220px_minmax(0,1fr)] h-screen;

    .refer__aside {
      @apply h-[100vh] w-full shrink-0 border-r border-dashed px-4;
    }
    .refer__content {
      @apply py-10 px-14 grid grid-cols-[1fr_300px];
    }
    .refer__section {
      @apply relative;
    }
    .refer__article {
      @apply hidden text-sm xl:block sticky top-6;
    }
  }

  /* refer */
  .refer__title {
    @apply font-sans pr-10;

    h2 {
      @apply text-4xl py-4;
    }
    p {
      @apply text-zinc-500 font-nanum text-sm mb-4 leading-6.5;
    }
  }

  /* css */
  .css__container {
    @apply mx-auto w-full max-w-[1400px] border-x border-dashed;
  }
  .css__layout {
    @apply md:grid md:grid-cols-[220px_minmax(0,1fr)] md:gap-6 lg:grid-cols-[240px_minmax(0,1fr)] lg:gap-10 px-4;
  }
  .css__aside {
    @apply fixed top-0 z-30 hidden h-[100vh] w-full shrink-0 border-r md:sticky md:block;
  }
  .css__content {
    @apply relative lg:gap-10 lg:py-10 xl:grid xl:grid-cols-[1fr_300px];

    .cont {
      @apply mx-auto w-full min-w-0 max-w-2xl;

      h2 {
        @apply text-4xl py-3;
      }

      p {
        @apply text-zinc-500 font-nanum text-sm mb-4 leading-6.5;
      }
    }
    .side {
      @apply hidden text-sm xl:block;
    }
  }

  /* common */
  .circle {
    @apply w-9 h-9 bg-background rounded-full items-center justify-center border ring ring-gray-300/20 hover:ring-gray-300/60 flex cursor-pointer;
  }
  .line {
    @apply relative w-full;
  }
  .line::before {
    content: '';
    @apply absolute left-0 top-1/2 w-full h-[1px] bg-zinc-200 -translate-y-1/2 z-[-1];
  }
  .dark .line::before {
    @apply bg-zinc-600;
  }
  .uline {
    @apply underline underline-offset-4;
  }
  .list {
    @apply border px-2.5 py-2 rounded text-gray-600 hover:bg-gray-200 cursor-pointer;
  }
  .small {
    @apply text-zinc-500 text-[10px] pl-1;
  }
  .likes {
    @apply bg-red-500 rounded-md text-xs text-white px-1 flex items-center justify-center;
  }
  .sperator {
    @apply text-center text-zinc-500 text-sm;
  }
  .sperator span {
    @apply bg-background px-4;
  }
  .tooltip {
    @apply w-4 h-4 select-none absolute right-0 top-0 text-zinc-400 hover:text-zinc-800 transition-all duration-500;
  }
  .eye {
    @apply absolute inset-y-0 right-3 flex items-center text-zinc-500 cursor-pointer;
  }
  .check {
    @apply inline-flex items-center gap-1 bg-red-500 text-white rounded-full text-xs py-1 px-3;
  }
}
